Repository TestBlitzy1/test-p2-5edtyd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @ai-team, @security-team, @integration-team, @analytics-team, @data-privacy-team, @db-team, @frontend-team, @qa-team, @performance-team, @devops-team, @technical-writers

Add public-samples/test-p2-5edtyd/src/backend/campaign-service/src/models/creative.model.ts
  src/backend/campaign-service/src/models/creative.model.ts
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/campaign-service/src/services/campaign.service.ts
  src/backend/campaign-service/src/services/campaign.service.ts
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/campaign-service/src/services/optimization.service.ts
  src/backend/campaign-service/src/services/optimization.service.ts
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/campaign-service/src/utils/validation.utils.ts
  src/backend/campaign-service/src/utils/validation.utils.ts
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/db/migrations/001_initial_schema.sql
  src/backend/db/migrations/001_initial_schema.sql
Owners: @db-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/db/migrations/002_campaign_tables.sql
  src/backend/db/migrations/002_campaign_tables.sql
Owners: @db-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/db/migrations/003_analytics_tables.sql
  src/backend/db/migrations/003_analytics_tables.sql
Owners: @db-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/db/schemas/analytics.sql
  src/backend/db/schemas/analytics.sql
Owners: @db-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/db/schemas/campaign.sql
  src/backend/db/schemas/campaign.sql
Owners: @db-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/db/schemas/user.sql
  src/backend/db/schemas/user.sql
Owners: @db-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/db/seeds/test_data.sql
  src/backend/db/seeds/test_data.sql
Owners: @db-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/k8s/ai-service.yaml
  src/backend/k8s/ai-service.yaml
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/k8s/analytics-service.yaml
  src/backend/k8s/analytics-service.yaml
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/k8s/api-gateway.yaml
  src/backend/k8s/api-gateway.yaml
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/k8s/auth-service.yaml
  src/backend/k8s/auth-service.yaml
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/k8s/campaign-service.yaml
  src/backend/k8s/campaign-service.yaml
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/k8s/configmap.yaml
  src/backend/k8s/configmap.yaml
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/k8s/ingress.yaml
  src/backend/k8s/ingress.yaml
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/k8s/platform-integration.yaml
  src/backend/k8s/platform-integration.yaml
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/k8s/secrets.yaml
  src/backend/k8s/secrets.yaml
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/k8s/service-mesh.yaml
  src/backend/k8s/service-mesh.yaml
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/platform-integration/Dockerfile
  src/backend/platform-integration/Dockerfile
Owners: @integration-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/platform-integration/package.json
  src/backend/platform-integration/package.json
Owners: @integration-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/platform-integration/tsconfig.json
  src/backend/platform-integration/tsconfig.json
Owners: @integration-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/platform-integration/src/app.ts
  src/backend/platform-integration/src/app.ts
Owners: @integration-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/platform-integration/src/config/index.ts
  src/backend/platform-integration/src/config/index.ts
Owners: @integration-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/platform-integration/src/controllers/google.controller.ts
  src/backend/platform-integration/src/controllers/google.controller.ts
Owners: @integration-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/platform-integration/src/controllers/linkedin.controller.ts
  src/backend/platform-integration/src/controllers/linkedin.controller.ts
Owners: @integration-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/platform-integration/src/services/google.service.ts
  src/backend/platform-integration/src/services/google.service.ts
Owners: @integration-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/platform-integration/src/services/linkedin.service.ts
  src/backend/platform-integration/src/services/linkedin.service.ts
Owners: @integration-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/platform-integration/src/utils/api.utils.ts
  src/backend/platform-integration/src/utils/api.utils.ts
Owners: @integration-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/shared/constants/index.ts
  src/backend/shared/constants/index.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/shared/proto/analytics.proto
  src/backend/shared/proto/analytics.proto
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/shared/proto/auth.proto
  src/backend/shared/proto/auth.proto
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/shared/proto/campaign.proto
  src/backend/shared/proto/campaign.proto
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/shared/schemas/analytics.schema.ts
  src/backend/shared/schemas/analytics.schema.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/shared/schemas/campaign.schema.ts
  src/backend/shared/schemas/campaign.schema.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/shared/schemas/user.schema.ts
  src/backend/shared/schemas/user.schema.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/shared/types/analytics.types.ts
  src/backend/shared/types/analytics.types.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/shared/types/auth.types.ts
  src/backend/shared/types/auth.types.ts
Owners: @backend-team, @frontend-team, @security-team

.github/CODEOWNERS:

# Global owners - Platform leads must review all changes by default
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team
/src/backend/ai-service/ @ai-team @backend-team @security-team
/src/backend/platform-integration/ @integration-team @backend-team @security-team
/src/backend/analytics-service/ @analytics-team @backend-team @data-privacy-team
/src/backend/auth-service/ @security-team @backend-team @platform-leads
/src/backend/api-gateway/ @backend-team @platform-leads @security-team
/src/backend/db/ @db-team @backend-team @security-team
/src/backend/shared/ @backend-team @frontend-team @security-team

# Frontend application ownership
/src/web/ @frontend-team @security-team

# Test suite ownership
/src/test/ @qa-team @security-team
/src/test/security/ @security-team @qa-team @platform-leads
/src/test/performance/ @performance-team @qa-team @platform-leads
/src/test/integration/ @qa-team @backend-team @frontend-team
/src/test/e2e/ @qa-team @frontend-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team @platform-leads
/kubernetes/ @devops-team @security-team @platform-leads
/terraform/ @devops-team @security-team @platform-leads

# CI/CD pipeline configuration
/.github/workflows/ @devops-team @platform-leads @security-team
/.github/actions/ @devops-team @platform-leads

# Documentation
/docs/ @platform-leads @technical-writers

# Security configurations
/security/ @security-team @platform-leads
/.secrets/ @security-team @platform-leads
/.env.example @security-team @devops-team

# Package dependencies
/package.json @platform-leads @security-team
/package-lock.json @platform-leads @security-team
/yarn.lock @platform-leads @security-team

# Configuration files
/*.config.js @platform-leads @devops-team
/*.config.ts @platform-leads @devops-team
/tsconfig.json @platform-leads @backend-team @frontend-team

# Docker configurations
/Dockerfile @devops-team @security-team
/docker-compose*.yml @devops-team @security-team
/.dockerignore @devops-team

# API specifications
/api/ @backend-team @platform-leads @security-team
/swagger/ @backend-team @platform-leads

# Database migrations and schemas
/migrations/ @db-team @backend-team @security-team
/schemas/ @db-team @backend-team @security-team

# Assets and static files
/public/ @frontend-team
/assets/ @frontend-team

# Monitoring and logging
/monitoring/ @devops-team @security-team
/logging/ @devops-team @security-team

# AI/ML model configurations
/models/ @ai-team @security-team
/training/ @ai-team @security-team

# Analytics configurations
/analytics/ @analytics-team @security-team @data-privacy-team
