Repository TestBlitzy1/test-p2-5edtyd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @ai-team, @security-team, @integration-team, @analytics-team, @data-privacy-team, @db-team, @frontend-team, @qa-team, @performance-team, @devops-team, @technical-writers

Add public-samples/test-p2-5edtyd/src/test/load/artillery/analytics.yaml
  src/test/load/artillery/analytics.yaml
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/load/artillery/auth.yaml
  src/test/load/artillery/auth.yaml
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/load/artillery/campaign.yaml
  src/test/load/artillery/campaign.yaml
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/load/artillery/platform.yaml
  src/test/load/artillery/platform.yaml
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/load/k6/analytics.dashboard.js
  src/test/load/k6/analytics.dashboard.js
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/load/k6/auth.performance.js
  src/test/load/k6/auth.performance.js
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/load/k6/campaign.creation.js
  src/test/load/k6/campaign.creation.js
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/load/k6/platform.integration.js
  src/test/load/k6/platform.integration.js
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/mocks/analytics.mock.ts
  src/test/mocks/analytics.mock.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/mocks/auth.mock.ts
  src/test/mocks/auth.mock.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/mocks/campaign.mock.ts
  src/test/mocks/campaign.mock.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/mocks/platform.mock.ts
  src/test/mocks/platform.mock.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/performance/metrics/ai.processing.spec.ts
  src/test/performance/metrics/ai.processing.spec.ts
Owners: @performance-team, @qa-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/test/performance/metrics/api.latency.spec.ts
  src/test/performance/metrics/api.latency.spec.ts
Owners: @performance-team, @qa-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/test/performance/metrics/database.query.spec.ts
  src/test/performance/metrics/database.query.spec.ts
Owners: @performance-team, @qa-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/test/performance/metrics/platform.integration.spec.ts
  src/test/performance/metrics/platform.integration.spec.ts
Owners: @performance-team, @qa-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/test/security/compliance/gdpr.compliance.spec.ts
  src/test/security/compliance/gdpr.compliance.spec.ts
Owners: @security-team, @qa-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/test/security/compliance/platform.compliance.spec.ts
  src/test/security/compliance/platform.compliance.spec.ts
Owners: @security-team, @qa-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/test/security/penetration/api.pen.spec.ts
  src/test/security/penetration/api.pen.spec.ts
Owners: @security-team, @qa-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/test/security/penetration/auth.pen.spec.ts
  src/test/security/penetration/auth.pen.spec.ts
Owners: @security-team, @qa-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/test/security/penetration/platform.pen.spec.ts
  src/test/security/penetration/platform.pen.spec.ts
Owners: @security-team, @qa-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/test/security/vulnerability/code.scan.spec.ts
  src/test/security/vulnerability/code.scan.spec.ts
Owners: @security-team, @qa-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/test/security/vulnerability/dependency.scan.spec.ts
  src/test/security/vulnerability/dependency.scan.spec.ts
Owners: @security-team, @qa-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/test/unit/models/analytics.model.spec.ts
  src/test/unit/models/analytics.model.spec.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/unit/models/campaign.model.spec.ts
  src/test/unit/models/campaign.model.spec.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/unit/models/user.model.spec.ts
  src/test/unit/models/user.model.spec.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/unit/utils/auth.spec.ts
  src/test/unit/utils/auth.spec.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/unit/utils/metrics.spec.ts
  src/test/unit/utils/metrics.spec.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/unit/utils/validation.spec.ts
  src/test/unit/utils/validation.spec.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/utils/db.cleaner.ts
  src/test/utils/db.cleaner.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/utils/mock.server.ts
  src/test/utils/mock.server.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/utils/test.constants.ts
  src/test/utils/test.constants.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/utils/test.helpers.ts
  src/test/utils/test.helpers.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/utils/test.setup.ts
  src/test/utils/test.setup.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/utils/test.teardown.ts
  src/test/utils/test.teardown.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @security-team

.github/CODEOWNERS:

# Global owners - Platform leads must review all changes by default
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team
/src/backend/ai-service/ @ai-team @backend-team @security-team
/src/backend/platform-integration/ @integration-team @backend-team @security-team
/src/backend/analytics-service/ @analytics-team @backend-team @data-privacy-team
/src/backend/auth-service/ @security-team @backend-team @platform-leads
/src/backend/api-gateway/ @backend-team @platform-leads @security-team
/src/backend/db/ @db-team @backend-team @security-team
/src/backend/shared/ @backend-team @frontend-team @security-team

# Frontend application ownership
/src/web/ @frontend-team @security-team

# Test suite ownership
/src/test/ @qa-team @security-team
/src/test/security/ @security-team @qa-team @platform-leads
/src/test/performance/ @performance-team @qa-team @platform-leads
/src/test/integration/ @qa-team @backend-team @frontend-team
/src/test/e2e/ @qa-team @frontend-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team @platform-leads
/kubernetes/ @devops-team @security-team @platform-leads
/terraform/ @devops-team @security-team @platform-leads

# CI/CD pipeline configuration
/.github/workflows/ @devops-team @platform-leads @security-team
/.github/actions/ @devops-team @platform-leads

# Documentation
/docs/ @platform-leads @technical-writers

# Security configurations
/security/ @security-team @platform-leads
/.secrets/ @security-team @platform-leads
/.env.example @security-team @devops-team

# Package dependencies
/package.json @platform-leads @security-team
/package-lock.json @platform-leads @security-team
/yarn.lock @platform-leads @security-team

# Configuration files
/*.config.js @platform-leads @devops-team
/*.config.ts @platform-leads @devops-team
/tsconfig.json @platform-leads @backend-team @frontend-team

# Docker configurations
/Dockerfile @devops-team @security-team
/docker-compose*.yml @devops-team @security-team
/.dockerignore @devops-team

# API specifications
/api/ @backend-team @platform-leads @security-team
/swagger/ @backend-team @platform-leads

# Database migrations and schemas
/migrations/ @db-team @backend-team @security-team
/schemas/ @db-team @backend-team @security-team

# Assets and static files
/public/ @frontend-team
/assets/ @frontend-team

# Monitoring and logging
/monitoring/ @devops-team @security-team
/logging/ @devops-team @security-team

# AI/ML model configurations
/models/ @ai-team @security-team
/training/ @ai-team @security-team

# Analytics configurations
/analytics/ @analytics-team @security-team @data-privacy-team
