Repository TestBlitzy1/test-p2-5edtyd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @ai-team, @security-team, @integration-team, @analytics-team, @data-privacy-team, @db-team, @frontend-team, @qa-team, @performance-team, @devops-team, @technical-writers

.github/CODEOWNERS:

# Global owners - Platform leads must review all changes by default
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team
/src/backend/ai-service/ @ai-team @backend-team @security-team
/src/backend/platform-integration/ @integration-team @backend-team @security-team
/src/backend/analytics-service/ @analytics-team @backend-team @data-privacy-team
/src/backend/auth-service/ @security-team @backend-team @platform-leads
/src/backend/api-gateway/ @backend-team @platform-leads @security-team
/src/backend/db/ @db-team @backend-team @security-team
/src/backend/shared/ @backend-team @frontend-team @security-team

# Frontend application ownership
/src/web/ @frontend-team @security-team

# Test suite ownership
/src/test/ @qa-team @security-team
/src/test/security/ @security-team @qa-team @platform-leads
/src/test/performance/ @performance-team @qa-team @platform-leads
/src/test/integration/ @qa-team @backend-team @frontend-team
/src/test/e2e/ @qa-team @frontend-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team @platform-leads
/kubernetes/ @devops-team @security-team @platform-leads
/terraform/ @devops-team @security-team @platform-leads

# CI/CD pipeline configuration
/.github/workflows/ @devops-team @platform-leads @security-team
/.github/actions/ @devops-team @platform-leads

# Documentation
/docs/ @platform-leads @technical-writers

# Security configurations
/security/ @security-team @platform-leads
/.secrets/ @security-team @platform-leads
/.env.example @security-team @devops-team

# Package dependencies
/package.json @platform-leads @security-team
/package-lock.json @platform-leads @security-team
/yarn.lock @platform-leads @security-team

# Configuration files
/*.config.js @platform-leads @devops-team
/*.config.ts @platform-leads @devops-team
/tsconfig.json @platform-leads @backend-team @frontend-team

# Docker configurations
/Dockerfile @devops-team @security-team
/docker-compose*.yml @devops-team @security-team
/.dockerignore @devops-team

# API specifications
/api/ @backend-team @platform-leads @security-team
/swagger/ @backend-team @platform-leads

# Database migrations and schemas
/migrations/ @db-team @backend-team @security-team
/schemas/ @db-team @backend-team @security-team

# Assets and static files
/public/ @frontend-team
/assets/ @frontend-team

# Monitoring and logging
/monitoring/ @devops-team @security-team
/logging/ @devops-team @security-team

# AI/ML model configurations
/models/ @ai-team @security-team
/training/ @ai-team @security-team

# Analytics configurations
/analytics/ @analytics-team @security-team @data-privacy-team

Add public-samples/test-p2-5edtyd/src/backend/shared/types/campaign.types.ts
  src/backend/shared/types/campaign.types.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/shared/utils/logger.ts
  src/backend/shared/utils/logger.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/shared/utils/metrics.ts
  src/backend/shared/utils/metrics.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/shared/utils/validation.ts
  src/backend/shared/utils/validation.ts
Owners: @backend-team, @frontend-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/README.md
  src/test/README.md
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/jest.config.ts
  src/test/jest.config.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/package.json
  src/test/package.json
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/tsconfig.json
  src/test/tsconfig.json
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/ci/github-actions/performance.workflow.yml
  src/test/ci/github-actions/performance.workflow.yml
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/ci/github-actions/security.workflow.yml
  src/test/ci/github-actions/security.workflow.yml
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/ci/github-actions/test.workflow.yml
  src/test/ci/github-actions/test.workflow.yml
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/docker/docker-compose.test.yml
  src/test/docker/docker-compose.test.yml
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/docker/test.Dockerfile
  src/test/docker/test.Dockerfile
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/e2e/ai/audience.targeting.spec.ts
  src/test/e2e/ai/audience.targeting.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/e2e/ai/campaign.generation.spec.ts
  src/test/e2e/ai/campaign.generation.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/e2e/ai/creative.optimization.spec.ts
  src/test/e2e/ai/creative.optimization.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/e2e/analytics/dashboard.spec.ts
  src/test/e2e/analytics/dashboard.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/e2e/analytics/reports.spec.ts
  src/test/e2e/analytics/reports.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/e2e/auth/authentication.spec.ts
  src/test/e2e/auth/authentication.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/e2e/auth/authorization.spec.ts
  src/test/e2e/auth/authorization.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/e2e/campaign/campaign.creation.spec.ts
  src/test/e2e/campaign/campaign.creation.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/e2e/campaign/campaign.optimization.spec.ts
  src/test/e2e/campaign/campaign.optimization.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/e2e/campaign/campaign.performance.spec.ts
  src/test/e2e/campaign/campaign.performance.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/e2e/platform/google.integration.spec.ts
  src/test/e2e/platform/google.integration.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/e2e/platform/linkedin.integration.spec.ts
  src/test/e2e/platform/linkedin.integration.spec.ts
Owners: @qa-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/fixtures/analytics.fixture.ts
  src/test/fixtures/analytics.fixture.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/fixtures/campaign.fixture.ts
  src/test/fixtures/campaign.fixture.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/fixtures/platform.fixture.ts
  src/test/fixtures/platform.fixture.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/fixtures/user.fixture.ts
  src/test/fixtures/user.fixture.ts
Owners: @qa-team, @security-team

Add public-samples/test-p2-5edtyd/src/test/integration/api/analytics.api.spec.ts
  src/test/integration/api/analytics.api.spec.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/integration/api/auth.api.spec.ts
  src/test/integration/api/auth.api.spec.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/integration/api/campaign.api.spec.ts
  src/test/integration/api/campaign.api.spec.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/integration/api/platform.api.spec.ts
  src/test/integration/api/platform.api.spec.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/integration/database/analytics.db.spec.ts
  src/test/integration/database/analytics.db.spec.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/integration/database/campaign.db.spec.ts
  src/test/integration/database/campaign.db.spec.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/integration/database/user.db.spec.ts
  src/test/integration/database/user.db.spec.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/integration/services/ai.service.spec.ts
  src/test/integration/services/ai.service.spec.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/integration/services/analytics.service.spec.ts
  src/test/integration/services/analytics.service.spec.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/integration/services/auth.service.spec.ts
  src/test/integration/services/auth.service.spec.ts
Owners: @qa-team, @backend-team, @frontend-team

Add public-samples/test-p2-5edtyd/src/test/integration/services/campaign.service.spec.ts
  src/test/integration/services/campaign.service.spec.ts
Owners: @qa-team, @backend-team, @frontend-team
