Repository TestBlitzy1/test-p2-5edtyd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @ai-team, @security-team, @integration-team, @analytics-team, @data-privacy-team, @db-team, @frontend-team, @qa-team, @performance-team, @devops-team, @technical-writers

.github/CODEOWNERS:

# Global owners - Platform leads must review all changes by default
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team
/src/backend/ai-service/ @ai-team @backend-team @security-team
/src/backend/platform-integration/ @integration-team @backend-team @security-team
/src/backend/analytics-service/ @analytics-team @backend-team @data-privacy-team
/src/backend/auth-service/ @security-team @backend-team @platform-leads
/src/backend/api-gateway/ @backend-team @platform-leads @security-team
/src/backend/db/ @db-team @backend-team @security-team
/src/backend/shared/ @backend-team @frontend-team @security-team

# Frontend application ownership
/src/web/ @frontend-team @security-team

# Test suite ownership
/src/test/ @qa-team @security-team
/src/test/security/ @security-team @qa-team @platform-leads
/src/test/performance/ @performance-team @qa-team @platform-leads
/src/test/integration/ @qa-team @backend-team @frontend-team
/src/test/e2e/ @qa-team @frontend-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team @platform-leads
/kubernetes/ @devops-team @security-team @platform-leads
/terraform/ @devops-team @security-team @platform-leads

# CI/CD pipeline configuration
/.github/workflows/ @devops-team @platform-leads @security-team
/.github/actions/ @devops-team @platform-leads

# Documentation
/docs/ @platform-leads @technical-writers

# Security configurations
/security/ @security-team @platform-leads
/.secrets/ @security-team @platform-leads
/.env.example @security-team @devops-team

# Package dependencies
/package.json @platform-leads @security-team
/package-lock.json @platform-leads @security-team
/yarn.lock @platform-leads @security-team

# Configuration files
/*.config.js @platform-leads @devops-team
/*.config.ts @platform-leads @devops-team
/tsconfig.json @platform-leads @backend-team @frontend-team

# Docker configurations
/Dockerfile @devops-team @security-team
/docker-compose*.yml @devops-team @security-team
/.dockerignore @devops-team

# API specifications
/api/ @backend-team @platform-leads @security-team
/swagger/ @backend-team @platform-leads

# Database migrations and schemas
/migrations/ @db-team @backend-team @security-team
/schemas/ @db-team @backend-team @security-team

# Assets and static files
/public/ @frontend-team
/assets/ @frontend-team

# Monitoring and logging
/monitoring/ @devops-team @security-team
/logging/ @devops-team @security-team

# AI/ML model configurations
/models/ @ai-team @security-team
/training/ @ai-team @security-team

# Analytics configurations
/analytics/ @analytics-team @security-team @data-privacy-team

Add public-samples/test-p2-5edtyd/src/backend/analytics-service/src/app.ts
  src/backend/analytics-service/src/app.ts
Owners: @analytics-team, @backend-team, @data-privacy-team

Add public-samples/test-p2-5edtyd/src/backend/analytics-service/src/config/index.ts
  src/backend/analytics-service/src/config/index.ts
Owners: @analytics-team, @backend-team, @data-privacy-team

Add public-samples/test-p2-5edtyd/src/backend/analytics-service/src/controllers/analytics.controller.ts
  src/backend/analytics-service/src/controllers/analytics.controller.ts
Owners: @analytics-team, @backend-team, @data-privacy-team

Add public-samples/test-p2-5edtyd/src/backend/analytics-service/src/models/metrics.model.ts
  src/backend/analytics-service/src/models/metrics.model.ts
Owners: @analytics-team, @backend-team, @data-privacy-team

Add public-samples/test-p2-5edtyd/src/backend/analytics-service/src/services/analytics.service.ts
  src/backend/analytics-service/src/services/analytics.service.ts
Owners: @analytics-team, @backend-team, @data-privacy-team

Add public-samples/test-p2-5edtyd/src/backend/analytics-service/src/utils/metrics.utils.ts
  src/backend/analytics-service/src/utils/metrics.utils.ts
Owners: @analytics-team, @backend-team, @data-privacy-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/Dockerfile
  src/backend/api-gateway/Dockerfile
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/package.json
  src/backend/api-gateway/package.json
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/tsconfig.json
  src/backend/api-gateway/tsconfig.json
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/app.ts
  src/backend/api-gateway/src/app.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/config/index.ts
  src/backend/api-gateway/src/config/index.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/middleware/auth.middleware.ts
  src/backend/api-gateway/src/middleware/auth.middleware.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/middleware/error.middleware.ts
  src/backend/api-gateway/src/middleware/error.middleware.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/middleware/logging.middleware.ts
  src/backend/api-gateway/src/middleware/logging.middleware.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/middleware/ratelimit.middleware.ts
  src/backend/api-gateway/src/middleware/ratelimit.middleware.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/routes/analytics.routes.ts
  src/backend/api-gateway/src/routes/analytics.routes.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/routes/auth.routes.ts
  src/backend/api-gateway/src/routes/auth.routes.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/routes/campaign.routes.ts
  src/backend/api-gateway/src/routes/campaign.routes.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/routes/platform.routes.ts
  src/backend/api-gateway/src/routes/platform.routes.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/services/proxy.service.ts
  src/backend/api-gateway/src/services/proxy.service.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/utils/circuit-breaker.ts
  src/backend/api-gateway/src/utils/circuit-breaker.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/api-gateway/src/utils/rate-limiter.ts
  src/backend/api-gateway/src/utils/rate-limiter.ts
Owners: @backend-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/src/backend/auth-service/Dockerfile
  src/backend/auth-service/Dockerfile
Owners: @security-team, @backend-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/backend/auth-service/package.json
  src/backend/auth-service/package.json
Owners: @security-team, @backend-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/backend/auth-service/tsconfig.json
  src/backend/auth-service/tsconfig.json
Owners: @security-team, @backend-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/backend/auth-service/src/app.ts
  src/backend/auth-service/src/app.ts
Owners: @security-team, @backend-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/backend/auth-service/src/config/index.ts
  src/backend/auth-service/src/config/index.ts
Owners: @security-team, @backend-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/backend/auth-service/src/controllers/auth.controller.ts
  src/backend/auth-service/src/controllers/auth.controller.ts
Owners: @security-team, @backend-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/backend/auth-service/src/models/user.model.ts
  src/backend/auth-service/src/models/user.model.ts
Owners: @security-team, @backend-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/backend/auth-service/src/services/auth.service.ts
  src/backend/auth-service/src/services/auth.service.ts
Owners: @security-team, @backend-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/backend/auth-service/src/utils/jwt.utils.ts
  src/backend/auth-service/src/utils/jwt.utils.ts
Owners: @security-team, @backend-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/backend/auth-service/src/utils/password.utils.ts
  src/backend/auth-service/src/utils/password.utils.ts
Owners: @security-team, @backend-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/backend/campaign-service/Dockerfile
  src/backend/campaign-service/Dockerfile
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/campaign-service/package.json
  src/backend/campaign-service/package.json
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/campaign-service/tsconfig.json
  src/backend/campaign-service/tsconfig.json
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/campaign-service/src/app.ts
  src/backend/campaign-service/src/app.ts
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/campaign-service/src/config/index.ts
  src/backend/campaign-service/src/config/index.ts
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/campaign-service/src/controllers/campaign.controller.ts
  src/backend/campaign-service/src/controllers/campaign.controller.ts
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/campaign-service/src/models/adgroup.model.ts
  src/backend/campaign-service/src/models/adgroup.model.ts
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/campaign-service/src/models/campaign.model.ts
  src/backend/campaign-service/src/models/campaign.model.ts
Owners: @backend-team
