Repository TestBlitzy1/test-p2-5edtyd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @ai-team, @security-team, @integration-team, @analytics-team, @data-privacy-team, @db-team, @frontend-team, @qa-team, @performance-team, @devops-team, @technical-writers

.github/CODEOWNERS:

# Global owners - Platform leads must review all changes by default
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team
/src/backend/ai-service/ @ai-team @backend-team @security-team
/src/backend/platform-integration/ @integration-team @backend-team @security-team
/src/backend/analytics-service/ @analytics-team @backend-team @data-privacy-team
/src/backend/auth-service/ @security-team @backend-team @platform-leads
/src/backend/api-gateway/ @backend-team @platform-leads @security-team
/src/backend/db/ @db-team @backend-team @security-team
/src/backend/shared/ @backend-team @frontend-team @security-team

# Frontend application ownership
/src/web/ @frontend-team @security-team

# Test suite ownership
/src/test/ @qa-team @security-team
/src/test/security/ @security-team @qa-team @platform-leads
/src/test/performance/ @performance-team @qa-team @platform-leads
/src/test/integration/ @qa-team @backend-team @frontend-team
/src/test/e2e/ @qa-team @frontend-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team @platform-leads
/kubernetes/ @devops-team @security-team @platform-leads
/terraform/ @devops-team @security-team @platform-leads

# CI/CD pipeline configuration
/.github/workflows/ @devops-team @platform-leads @security-team
/.github/actions/ @devops-team @platform-leads

# Documentation
/docs/ @platform-leads @technical-writers

# Security configurations
/security/ @security-team @platform-leads
/.secrets/ @security-team @platform-leads
/.env.example @security-team @devops-team

# Package dependencies
/package.json @platform-leads @security-team
/package-lock.json @platform-leads @security-team
/yarn.lock @platform-leads @security-team

# Configuration files
/*.config.js @platform-leads @devops-team
/*.config.ts @platform-leads @devops-team
/tsconfig.json @platform-leads @backend-team @frontend-team

# Docker configurations
/Dockerfile @devops-team @security-team
/docker-compose*.yml @devops-team @security-team
/.dockerignore @devops-team

# API specifications
/api/ @backend-team @platform-leads @security-team
/swagger/ @backend-team @platform-leads

# Database migrations and schemas
/migrations/ @db-team @backend-team @security-team
/schemas/ @db-team @backend-team @security-team

# Assets and static files
/public/ @frontend-team
/assets/ @frontend-team

# Monitoring and logging
/monitoring/ @devops-team @security-team
/logging/ @devops-team @security-team

# AI/ML model configurations
/models/ @ai-team @security-team
/training/ @ai-team @security-team

# Analytics configurations
/analytics/ @analytics-team @security-team @data-privacy-team

Add public-samples/test-p2-5edtyd/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @platform-leads

Add public-samples/test-p2-5edtyd/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @platform-leads

Add public-samples/test-p2-5edtyd/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @platform-leads

Add public-samples/test-p2-5edtyd/.github/workflows/cd.yml
  .github/workflows/cd.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/.github/workflows/ci.yml
  .github/workflows/ci.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/.github/workflows/dependency-check.yml
  .github/workflows/dependency-check.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @platform-leads, @security-team

Add public-samples/test-p2-5edtyd/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @platform-leads

Add public-samples/test-p2-5edtyd/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @platform-leads

Add public-samples/test-p2-5edtyd/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/docker/monitoring/docker-compose.yml
  infrastructure/docker/monitoring/docker-compose.yml
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/docker/monitoring/elk/elasticsearch/elasticsearch.yml
  infrastructure/docker/monitoring/elk/elasticsearch/elasticsearch.yml
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/docker/monitoring/elk/kibana/kibana.yml
  infrastructure/docker/monitoring/elk/kibana/kibana.yml
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/docker/monitoring/elk/logstash/logstash.conf
  infrastructure/docker/monitoring/elk/logstash/logstash.conf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/docker/monitoring/grafana/datasources.yml
  infrastructure/docker/monitoring/grafana/datasources.yml
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/docker/monitoring/grafana/dashboards/campaign-metrics.json
  infrastructure/docker/monitoring/grafana/dashboards/campaign-metrics.json
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/docker/monitoring/grafana/dashboards/platform-health.json
  infrastructure/docker/monitoring/grafana/dashboards/platform-health.json
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/docker/monitoring/grafana/dashboards/service-metrics.json
  infrastructure/docker/monitoring/grafana/dashboards/service-metrics.json
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/docker/monitoring/jaeger/jaeger.yml
  infrastructure/docker/monitoring/jaeger/jaeger.yml
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/docker/monitoring/prometheus/prometheus.yml
  infrastructure/docker/monitoring/prometheus/prometheus.yml
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/scripts/backup-db.sh
  infrastructure/scripts/backup-db.sh
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/scripts/deploy-monitoring.sh
  infrastructure/scripts/deploy-monitoring.sh
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/scripts/health-check.sh
  infrastructure/scripts/health-check.sh
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/scripts/init-cluster.sh
  infrastructure/scripts/init-cluster.sh
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/scripts/rotate-keys.sh
  infrastructure/scripts/rotate-keys.sh
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/cloudfront.tf
  infrastructure/terraform/aws/cloudfront.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/cloudwatch.tf
  infrastructure/terraform/aws/cloudwatch.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/eks.tf
  infrastructure/terraform/aws/eks.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/elasticache.tf
  infrastructure/terraform/aws/elasticache.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/main.tf
  infrastructure/terraform/aws/main.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/outputs.tf
  infrastructure/terraform/aws/outputs.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/provider.tf
  infrastructure/terraform/aws/provider.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/rds.tf
  infrastructure/terraform/aws/rds.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/route53.tf
  infrastructure/terraform/aws/route53.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/s3.tf
  infrastructure/terraform/aws/s3.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/variables.tf
  infrastructure/terraform/aws/variables.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/vpc.tf
  infrastructure/terraform/aws/vpc.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/aws/waf.tf
  infrastructure/terraform/aws/waf.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team, @security-team, @platform-leads
