Repository TestBlitzy1/test-p2-5edtyd, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-leads, @backend-team, @ai-team, @security-team, @integration-team, @analytics-team, @data-privacy-team, @db-team, @frontend-team, @qa-team, @performance-team, @devops-team, @technical-writers

.github/CODEOWNERS:

# Global owners - Platform leads must review all changes by default
* @platform-leads

# Backend service ownership
/src/backend/ @backend-team
/src/backend/ai-service/ @ai-team @backend-team @security-team
/src/backend/platform-integration/ @integration-team @backend-team @security-team
/src/backend/analytics-service/ @analytics-team @backend-team @data-privacy-team
/src/backend/auth-service/ @security-team @backend-team @platform-leads
/src/backend/api-gateway/ @backend-team @platform-leads @security-team
/src/backend/db/ @db-team @backend-team @security-team
/src/backend/shared/ @backend-team @frontend-team @security-team

# Frontend application ownership
/src/web/ @frontend-team @security-team

# Test suite ownership
/src/test/ @qa-team @security-team
/src/test/security/ @security-team @qa-team @platform-leads
/src/test/performance/ @performance-team @qa-team @platform-leads
/src/test/integration/ @qa-team @backend-team @frontend-team
/src/test/e2e/ @qa-team @frontend-team

# Infrastructure and deployment
/infrastructure/ @devops-team @security-team @platform-leads
/kubernetes/ @devops-team @security-team @platform-leads
/terraform/ @devops-team @security-team @platform-leads

# CI/CD pipeline configuration
/.github/workflows/ @devops-team @platform-leads @security-team
/.github/actions/ @devops-team @platform-leads

# Documentation
/docs/ @platform-leads @technical-writers

# Security configurations
/security/ @security-team @platform-leads
/.secrets/ @security-team @platform-leads
/.env.example @security-team @devops-team

# Package dependencies
/package.json @platform-leads @security-team
/package-lock.json @platform-leads @security-team
/yarn.lock @platform-leads @security-team

# Configuration files
/*.config.js @platform-leads @devops-team
/*.config.ts @platform-leads @devops-team
/tsconfig.json @platform-leads @backend-team @frontend-team

# Docker configurations
/Dockerfile @devops-team @security-team
/docker-compose*.yml @devops-team @security-team
/.dockerignore @devops-team

# API specifications
/api/ @backend-team @platform-leads @security-team
/swagger/ @backend-team @platform-leads

# Database migrations and schemas
/migrations/ @db-team @backend-team @security-team
/schemas/ @db-team @backend-team @security-team

# Assets and static files
/public/ @frontend-team
/assets/ @frontend-team

# Monitoring and logging
/monitoring/ @devops-team @security-team
/logging/ @devops-team @security-team

# AI/ML model configurations
/models/ @ai-team @security-team
/training/ @ai-team @security-team

# Analytics configurations
/analytics/ @analytics-team @security-team @data-privacy-team

Add public-samples/test-p2-5edtyd/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/modules/eks/main.tf
  infrastructure/terraform/modules/eks/main.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/modules/eks/outputs.tf
  infrastructure/terraform/modules/eks/outputs.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/modules/eks/variables.tf
  infrastructure/terraform/modules/eks/variables.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/modules/elasticache/main.tf
  infrastructure/terraform/modules/elasticache/main.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/modules/elasticache/outputs.tf
  infrastructure/terraform/modules/elasticache/outputs.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/modules/elasticache/variables.tf
  infrastructure/terraform/modules/elasticache/variables.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/modules/rds/main.tf
  infrastructure/terraform/modules/rds/main.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/modules/rds/outputs.tf
  infrastructure/terraform/modules/rds/outputs.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/infrastructure/terraform/modules/rds/variables.tf
  infrastructure/terraform/modules/rds/variables.tf
Owners: @devops-team, @security-team, @platform-leads

Add public-samples/test-p2-5edtyd/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/package.json
  src/backend/package.json
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/test-p2-5edtyd/src/backend/ai-service/Dockerfile
  src/backend/ai-service/Dockerfile
Owners: @ai-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/ai-service/requirements.txt
  src/backend/ai-service/requirements.txt
Owners: @ai-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/ai-service/setup.py
  src/backend/ai-service/setup.py
Owners: @ai-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/ai-service/src/__init__.py
  src/backend/ai-service/src/__init__.py
Owners: @ai-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/ai-service/src/app.py
  src/backend/ai-service/src/app.py
Owners: @ai-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/ai-service/src/config.py
  src/backend/ai-service/src/config.py
Owners: @ai-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/ai-service/src/models/audience_analyzer.py
  src/backend/ai-service/src/models/audience_analyzer.py
Owners: @ai-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/ai-service/src/models/campaign_generator.py
  src/backend/ai-service/src/models/campaign_generator.py
Owners: @ai-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/ai-service/src/models/creative_generator.py
  src/backend/ai-service/src/models/creative_generator.py
Owners: @ai-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/ai-service/src/services/openai_service.py
  src/backend/ai-service/src/services/openai_service.py
Owners: @ai-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/ai-service/src/services/pytorch_service.py
  src/backend/ai-service/src/services/pytorch_service.py
Owners: @ai-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/ai-service/src/utils/ml_utils.py
  src/backend/ai-service/src/utils/ml_utils.py
Owners: @ai-team, @backend-team, @security-team

Add public-samples/test-p2-5edtyd/src/backend/analytics-service/Dockerfile
  src/backend/analytics-service/Dockerfile
Owners: @analytics-team, @backend-team, @data-privacy-team

Add public-samples/test-p2-5edtyd/src/backend/analytics-service/package.json
  src/backend/analytics-service/package.json
Owners: @analytics-team, @backend-team, @data-privacy-team

Add public-samples/test-p2-5edtyd/src/backend/analytics-service/tsconfig.json
  src/backend/analytics-service/tsconfig.json
Owners: @analytics-team, @backend-team, @data-privacy-team
